hostname {{ init_conf.hostname }}
enable secret {{ init_conf.ccnplab }}
{% if init_conf.domain_lookup %}
no ip domain-lookup
{% endif %}

! ######################## AAA CONF ########################
aaa new-model
aaa authentication login default local
aaa authorization exec default local

! ######################## LOCAL ACCOUNTS ########################
{% for account in local_acc|sort(attribute='user') %}
username {{ account.user }} privilege {{ account.priv_level }} secret {{ account.secret }}
{% endfor %}


! ######################## CONSOLE ########################
line console {{ lin_con.id }}
pass {{ lin_con.passwd }}
{% if lin_con.logging_syn %}
logging synchronous
{% endif %}
exec-timeout {{ lin_con.exec_timeo |default(30)}}

! ######################## VTY LINES ########################
line vty {{ lin_vty.lines }}
password {{ lin_vty.passwd }}
transport input {{ lin_vty.conn_method }}

service password-encryption

{% for name, vlan in vlans|dictsort %}
vlan {{ vlan.id }}
  name {{ name }}
  description {{ vlan.description }}
{% endfor %}
