{% include 'Initial-config.j2' %}

! ######################## Switches.j2  ################################
{% for vlan, param in vlans|dictsort %}
vlan {{ param.id }}
  name {{ vlan }}
{% endfor %}

{% for intf, prop in l2_interfaces.items() %}
interface {{ intf }}
{%     if prop.desc is defined %}
  description {{ prop.desc }}
{%     endif -%}

{%     if prop.mode == 'access' %}
  switchport mode access
  switchport access vlan {{ prop.vlan }}
{%     elif prop.mode == 'trunk' %}
  switchport trunk encapsulation dot1q
  switchport mode trunk
{%         if prop.vlan is defined %}
  switchport trunk allowed vlan {{ prop.vlan }}
{%         endif %}
{%     endif %}

{%     endfor %}
